@model MVC_Klas.Models.Familie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Familie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde" class="control-label"></label>
                @*<input asp-for="Orde" class="form-control" />*@
                <select asp-for="Orde" class="form-control" asp-items="@ViewBag.Ordes"></select>
                <span asp-validation-for="Orde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klasse" class="control-label"></label>
                @*<input asp-for="Klasse" class="form-control" />*@
                <select asp-for="Klasse" class="form-control" asp-items="@ViewBag.Klasses"></select>
                <span asp-validation-for="Klasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilieScore" class="control-label"></label>
                <input asp-for="FamilieScore" class="form-control" />
                <span asp-validation-for="FamilieScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
