@model MVC_Klas.Models.Dier

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Benaming" class="control-label"></label>
                <input asp-for="Benaming" class="form-control" />
                <span asp-validation-for="Benaming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilieID" class="control-label"></label>
                @*<input asp-for="Familie" class="form-control" />*@
                <select asp-for="FamilieID" class="form-control" asp-items="@ViewBag.Families"></select> @*select voor dropdown*@ @*zie herhaling om manueel waardes toe te voegen als het niet automatisch lukt*@
                <span asp-validation-for="FamilieID" class="text-danger"></span> @*voor vertaling zie Herhaling*@
            </div>                                                                      @*waar zit de jsonResult geïmplementeerd*@
            <div class="form-group">                                                    @*bovenstaande met onchange in herhalingsoefening *@
                <label asp-for="AantalPoten" class="control-label"></label>             
                <input asp-for="AantalPoten" class="form-control" />
                <span asp-validation-for="AantalPoten" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gevaarlijk" /> @Html.DisplayNameFor(model => model.Gevaarlijk)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*Best undefined gebruiken ipv null in Html sripts*@  @*$.ajax call zie herhaling @ create patiënt*@ @*#voor Bithdate is voor id op te zoeken(. is voor Class?) in herhalingsoefening*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}               @*zie showerror in herhaling voor errormelding van ajaxCall*@
